	<footer class="navbar navbar-expand-lg navbar-light bg-light mt-5">
		<a class="navbar-brand mx-auto" href="www.strangeindustries.co.uk"
		>Strange Industries 2019</a>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(() => {
			
			updateNav();

			let imagesLoaded = 0,
					totalImages = $('img').length,
					header = document.querySelector("#header"),
					options = {threshold: 0.5};
			var cardsTimeline = new TimelineMax({paused:true});

			if (totalImages === 0) {
				allImagesLoaded();
			} else {
				$('img').each((idx, img) => {
					$('<img>').on('load', imageLoaded).attr('src', $(img).attr('src'));
				});
			}

			if (window.location.pathname === "/listings") {
				buildCardsTimeline(cardsTimeline);
			}

			if ($(".listing-nav").length > 0){
				var headerTimeline = buildNavTimeline();
				var observer = createObserver(options);
				observer.observe(header);
			}

			function buildCardsTimeline(cardsTimeline) {
				var listingCards = $(".index-card").toArray();
				listingCards.forEach((card) => {
					cardsTimeline.to(card, 0.23, {
						opacity: 1,
						y: "0%"
					});
				});
			}

			function buildNavTimeline() {
				var headerTimeline = new TimelineMax({paused: true});
				headerTimeline.to(".listing-nav", 0.15, {
					opacity: 0
				}).to(".listing-nav-sticky", 0.15, {
					opacity: 1
				}, 0);
				return headerTimeline
			}

			function createObserver(options) {
				return new IntersectionObserver(function(entries, observer) {
					entries.forEach(entry => {
						if(entry.isIntersecting){
							headerTimeline.reverse()
						} else {
							headerTimeline.play();
						}
					});
				}, options);
			}

			function imageLoaded() {
				imagesLoaded++;
				if (imagesLoaded == totalImages) {
					allImagesLoaded();
					cardsTimeline.play();
				}
			}

			function allImagesLoaded() {
				if($("body").height() < $(window).height()){
					$("footer").addClass("fixed-bottom");
				} else {
					$("nav").addClass("sticky-top");
				}
			}

			function updateNav() {
				let pathname = window.location.pathname;
				$('a[href="'+pathname+'"]').addClass('active');
			}
		
		});
	</script>
	</body>
</html>