<!DOCTYPE html>
<html lang="en">
<head>
	<title>Strange Estates</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg justify-content-between">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Strange Estates</a>
	</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<%if(!currentUser){%>
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
			<%} else {%>
				<li class="nav-item"><a class="nav-link">Currently logged in as <%=currentUser.username%></a></li>
				<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
			<%}%>
		</ul>
	</div>
</nav>

<div class="container">
	<%if(error && error.length > 0){%>
	<div class="alert alert-danger" role="alert">
		<%=error%>
	</div>
	<%}%>
	<%if(success && success.length > 0){%>
	<div class="alert alert-success" role="alert">
		<%=success%>
	</div>
	<%}%>
</div>
