<%include ../partials/header%>

<div class="container">
	<div class="row mt-3">
		<h1 class="mx-auto">Create a new listing</h1>
	</div>
	<form class="row lg-w-50 mt-2" action="/listings" method="POST">
		<div class="col-12 col-lg-6">
			<div class="form-group">
				<label for="listing-name">Listing Name</label>
				<input class="form-control" type="text" 
				name="name" id="listing-name" placeholder="name">
			</div>
		</div>
		<div class="col-12 col-lg-6">
			<div class="form-group">
				<label for="listing-price">Listing Price</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">£</span>
					</div>
					<input class="form-control" type="number"
					name="price" id="listing-price" value="1">
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="form-group">
				<label for="listing-image-link">Image Link</label>
				<input class="form-control" type="text" name="image"
				id="listing-image-link" placeholder="Listing Image Link">
			</div>
			<div class="form-group">
				<label for="listing-description">Description</label>
				<textarea class="form-control" name="description" rows="3"
				id="listing-description" placeholder="Listing Description"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary btn-block">Submit</button>
			</div>
		</div>
	</form>
	<a href="/listings">Back</a>
</div>

<%include ../partials/footer%>