<%include partials/header%>

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1 class="display-3">Strange Estates</h1>
			<h4 class="mb-3">Specialist letting agency for over 120 years</h4>
			<p>
				<span class="first-character">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-lg-4">
			<img class="img-fluid" src="https://source.unsplash.com/F1IIviQM7zI">
		</div>
	</div>
	<div class="row mt-3">
		<%admins.forEach((admin,index) => {%>
			<%if(index%2){%>
			<div class="col-12 p-2 d-flex justify-content-start bg-light flex-row-reverse">
				<img src="https://dummyimage.com/150" class="img-fluid profile-photo">
				<div class="px-4 text-right">
					<h5><%=admin.username%></h5>
					<p>Blurb</p>
				</div>
			</div>
			<%} else {%>
			<div class="col-12  p-2 d-flex justify-content-start bg-white">
				<img src="https://dummyimage.com/150" class="img-fluid profile-photo">
				<div class="px-4">
					<h5><%=admin.username%></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum./p>
				</div>
			</div>
			<%}%>
		<%});%>
	</div>
</div>

<%include partials/footer%>