<%include partials/header%>

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8">
			<h1 class="display-3">Strange Estates</h1>
			<h4 class="mb-3">Specialist letting agency for over 120 years</h4>
			<p>
				<span class="first-character">O</span>ur agency prides itself on a rich history of providing a discreet and professional letting service, linking distinguished clients with extraordinary locations.
				We know how to cater for discerning customers and regard any request the importance and specificity it deserves. All our listings are guaranteed premium quality sites, carring the weight of our reputation.
			</p>
			<hr>
			<p>
				<h4>Our History</h4>
				Founded by <span class="redacted">[redacted]</span>, Strange Estates was originally a small agency based in London and specialising in sites around the capital. Building up a reputation for professional and confidential service, the client base grew rapidly international, with agents being employed around the world. Now based from our head office in <span class="redacted">[redacted]</span>, we employ an international staff with over <span class="redacted">[redacted]</span> clients.
			</p>
			<hr>
			<p>
				<h4>Our Agents</h4>
				Our agents are stationed over all continents, with each being a specialist in their respective geopolitical region.
				Many have been in their positions for decades, and as such have a deep involvement with properties and local authorities.
				They are constantly aquiring listings through skills in <span class="redacted">[redacted]</span>.
			</p>
		</div>
		<div class="col-lg-4">
			<img class="img-fluid" src="https://images.unsplash.com/photo-1524166476652-ccb40a799324?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9">
		</div>
	</div>
	<div class="row mt-3">
		<%admins.forEach((admin,index) => {%>
			<%if(index%2){%>
			<div class="col-12 p-2 d-flex justify-content-start bg-light flex-row-reverse">
				<img src="https://dummyimage.com/150" class="img-fluid profile-photo">
				<div class="px-4 text-right">
					<h5><%=admin.username%></h5>
					<p>Blurb</p>
				</div>
			</div>
			<%} else {%>
			<div class="col-12  p-2 d-flex justify-content-start bg-white">
				<img src="https://dummyimage.com/150" class="img-fluid profile-photo">
				<div class="px-4">
					<h5><%=admin.username%></h5>
					<p>Middle East Specialist</p>
					<p><%=admin.username%> is one of our most esteemed and longest serving agents, counting <span class="redacted">[redacted]</span>, <span class="redacted">[redacted]</span> and <span class="redacted">[redacted]</span> among their contacts.
				</div>
			</div>
			<%}%>
		<%});%>
	</div>
</div>

<%include partials/footer%>