<!DOCTYPE html>
<html lang="en">
<head>
	<title>Strange Estates</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<div class="container">
	<%if(error && error.length > 0){%>
	<div class="alert alert--landing alert-danger" role="alert">
		<%=error%>
	</div>
	<%}%>
	<%if(success && success.length > 0){%>
	<div class="alert alert--landing alert-success" role="alert">
		<%=success%>
	</div>
	<%}%>
</div>

<ul class="landing-background">
	<li class="background"></li>
	<li class="background"></li>
	<li class="background"></li>
</ul>

<div class="landing-container">
	<div class="header text-center">
		<h1 class="display-4">Welcome to</h1>
		<h1 class="display-1">Strange Estates</h1>
		<h3 class="font-weight-light">Specialist letting agency</h3>
	</div>
	<a class="btn btn-outline-light" href="/listings">View Listings</a>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<script type="text/javascript">
	if(!window.matchMedia('(prefers-reduced-motion: reduce)').matches){
		window.addEventListener('mousemove',moveLayer2);
		window.addEventListener('mousemove',moveLayer3);
	}

	function moveLayer2(e){
		TweenMax.to(".landing-background li:nth-child(2)", 0.2, {
			x: (e.pageX-window.outerWidth/2)/90,
			y: (e.pageY-window.outerHeight/2)/90,
			ease: "linear"
		});
	}

	function moveLayer3(e){
		TweenMax.to(".landing-background li:nth-child(3)", 0.2, {
			opacity: (e.pageX-e.pageY)/5000,
			ease: "linear"
		});
	}

</script>
</body>
</html>