<%include partials/header%>

<h1>Listing Page!</h1>

<a href="/listings/new">Add new listing</a>

<% listings.forEach(function(listing){ %>
	<div>
		<h4><%= listing.name%></h4>
		<img src="<%=listing.image%>">
	</div>

<% }); %>

<%include partials/footer%>