<%include partials/header%>

<div class="container">
	<header class="jumbotron">
			<div class="container">
			<h1>Strange Estates</h1>
			<p>Specialist estate sales</p>
			<p>
				<a class="btn btn-primary btn-lrg" href="/listings/new">Add new listing</a>
			</p>
		</div>
	</header>

	<div class="row">
		<div class="col-lg-12">Our newest listings</div>
	</div>

	<div class="row">
		<% listings.forEach(function(listing){ %>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<img class="card-img-top" src="<%=listing.image%>">
					<div class="card-body">
						<h4 class="card-title text-center"><%= listing.name%></h4>
						<p class="card-text">lorem</p>
					</div><!-- card-body -->
				</div><!-- card -->
			</div><!-- col -->
		<% }); %>
	</div><!-- row -->
</div><!-- container -->
<%include partials/footer%>