body {
	background-color: #000;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing-container {
	background-color: #FFFFFF50;
	padding: 1rem;
	border-radius: 0.3rem;
}

.landing-background {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: -1;
	overflow: hidden;
	margin: 0;
}

.landing-background li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
  z-index: -1;
	background-image: url("https://source.unsplash.com/IUkADtlFbK0")
}

.landing-background li:nth-child(1) {
	opacity: 1;
}

.landing-background li:nth-child(2) {
	mix-blend-mode: color-burn;
	opacity: 0.5;
}

.landing-background li:nth-child(3) {
	transform: translate(5rem, -1rem);
	opacity: 0.5;
}