body {
	background-color: #000;
	height: 100vh;
	width: 100%;
}

.alert--landing {
	position: absolute;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.7;
}

.landing-container {
	background-color:transparent;
	padding: 2rem;
	border-radius: 0.3rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Sorts Mill Goudy', serif;
}

.landing-container a {
	border: none;
	width: 80%;
	margin: 0 auto;
	font-size: 3rem;
}

.landing-background {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: -1;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.landing-background li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: -1;
	list-style: none;
	transform-origin: center;
	background-image: url("https://images.unsplash.com/photo-1488650989610-0d7e27dc293c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9")
}

.landing-background li:nth-child(1) {
	opacity: 1;
}

.landing-background li:nth-child(2) {
	mix-blend-mode: color-burn;
	opacity: 0.5;
}

.landing-background li:nth-child(3) {
	opacity: 0.5;
	background-color: white;
}

@media(max-width: 690px){
	.landing-container h3 {
		display: none;
	}
	.landing-container a {
		width: 100%;
	}
}

@media(max-width: 576px){
	.landing-container .display-4 {
		font-size: 2rem;
	}
	.landing-container .display-1 {
		font-size: 5rem;
	}
	.landing-container a {
		font-size: 2rem;
	}
}