@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Sorts+Mill+Goudy:400,400i&display=swap');

/*GLOBALS*/

body {
	font-family: 'Hind', sans-serif;
	background-color: #FFFDF4;
}

.display-1, .display-2, .display-3, .display-4, .navbar-brand {
	font-family: 'Sorts Mill Goudy', serif;
}

.first-character {
	color: #73ADBA;
    float: left;
    font-size: 4.9rem;
    font-family: 'Sorts Mill Goudy', serif;
    margin-top: -.8rem;
    margin-bottom: -2.1rem;
}

.redacted {
	background-color: #000;
	color: #FFF;
	font-family: monospace;
}

#header {
	height: 50vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#header .display-4 {
	margin-top: 25vh;
	transform: translateY(-50%);
}


/*NAVBAR*/

.navbar-collapse {
	flex-grow: 0;
}

.navbar-dark .navbar-brand {
	padding: 0;
	font-size: 2rem;
	color: #73ADBA;
}

/*INDEX PAGE*/

.search-bar {
	background-color: #e9ecefBF;
	border-radius: 0rem 0rem .3rem .3rem;
}

.index-card {
	opacity: 0;
	transform: translateY(100%);
}

.index-card img {
	transition: all 300ms ease-in-out;
}

.index-card:hover img, .index-card img:focus-within {
	opacity: 0.6;
	filter: grayscale(100%);
}

.index-card .btn {
	border-radius: 0 0 0.25rem 0.25rem;
}

@media(max-width: 766px) {

	.jumbotron::before {
		height: 45.6%;
	}

}

/*ABOUT PAGE*/

.profile-photo {
	max-height: 150px;
	max-height: 150px;
}

@media (max-width: 766px) {
	h1.display-3 {
		text-align: center;
	}
}

/*SHOW LISTING PAGE*/

.nav-pills .nav-link:first-of-type {
	border-radius: 0 0 0 .25rem;
}

.nav-pills .nav-link:last-of-type {
	border-radius: 0 0 .25rem 0;
}


.carousel img {
	width: auto;
	height: 700px;
	margin: auto;
}

.carousel-item {
	height: 100%;
	width: 100%;
}

.listing-nav {
	opacity: 1;
}

.listing-nav-sticky {
	opacity: 0;
	top: 64px;
	margin-top: -64px;
}

@media(max-width: 766px) {

	.carousel img {
		width: 100%;
	}

}
/*COMMENTS*/

.comment-header {
	margin-bottom: 0;
}