@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Sorts+Mill+Goudy:400,400i&display=swap');

:root {
	--brand: #73ADBA;
	--yellow: #F2E8DA;
}

/*===================GLOBALS===================*/

body {
	font-family: 'Hind', sans-serif;
	background-color: var(--yellow);
}

.display-1, .display-2, .display-3,
 .display-4, .navbar-brand {
	font-family: 'Sorts Mill Goudy', serif;
}

.first-character {
	color: var(--brand);
    float: left;
    font-size: 4.9rem;
    font-family: 'Sorts Mill Goudy', serif;
    margin-top: -.8rem;
    margin-bottom: -2.1rem;
}

.redacted {
	background-color: var(--dark);
	color: var(--white);
	font-family: monospace;
}

#header {
	height: 50vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#header .text {
	color: var(--black);
	background: var(--white);
}

/*==================PARTIALS==================*/

.navbar-collapse {
	flex-grow: 0;
}

.navbar-dark .navbar-brand {
	padding: 0;
	font-size: 2rem;
	color: var(--brand);
}

.footer-link {
	color: var(--brand);
}

.footer-link:hover, .footer-link:focus {
	color: var(--brand);
}

/*=================INDEX PAGE=================*/

.search-bar {
	background-color: var(--white);
	border-radius: 0rem 0rem .3rem .3rem;
}

.index-card {
	opacity: 0;
	transform: translateY(100%);
}

.index-card .card-body {
	border-left: 1px solid var(--secondary);
	border-right: 1px solid var(--secondary);
}

.index-card img {
	transition: all 300ms ease-in-out;
}

.index-card:hover img, .index-card img:focus-within {
	opacity: 0.6;
	filter: grayscale(100%);
}

.index-card .btn {
	border-radius: 0 0 0.25rem 0.25rem;
}


/*=================ABOUT PAGE=================*/

.profile-photo {
	max-height: 150px;
	max-height: 150px;
}


/*==============SHOW LISTING PAGE==============*/

.listing-nav {
	opacity: 1;
}

.listing-nav-sticky {
	opacity: 0;
	top: 64px;
	margin-top: -64px;
}

.nav-pills .nav-link:first-of-type {
	border-radius: 0 0 0 .25rem;
}

.nav-pills .nav-link:last-of-type {
	border-radius: 0 0 .25rem 0;
}

.carousel-item {
	height: 100%;
	width: 100%;
}

.carousel-image {
	width: auto;
	height: 700px;
	margin: auto;
}

.review-image {
	max-width: 100%;
	height: auto;
}

/*===============RESPONSIVE - MD===============*/

@media(max-width: 766px) {

	.carousel-image {
		width: 100%;
		height: auto;
	}

	h1.display-3 {
		text-align: center;
	}

	.jumbotron::before {
		height: 45.6%;
	}

}
